doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name="render" content="webkit")
    //- meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1")
    title 标签云

    link(rel="stylesheet" href="css/index.min.css")
  body
    div.tagcloud
      ul
        li
          a(href="#") javascript
        li
          a(href="#") html
        li
          a(href="#") css
    script(type="text/javascript" src="js/index.js")
